.feed {
  /* border-right: 1px solid var(--twitter-color); */
  overflow-y: scroll;
}

/* Hide scrollbar for chorom, safaria and opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and firefox */
.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed-header {
  position: sticky;
  top: 0;
  height: 20px;
  padding: 15px 20px;
  border: 1px solid var(--twitter-background);
  font-size: 25px;
  background-color: white;
 
}

.feed-header > h2 {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .feed{
    width: 100%;
  }
}

.post{
  max-width: 100%;
}

.recomendedUser{
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(230, 236, 240);
}

@media screen and (min-width: 990px) {
  .recomendedUser{
      display: none;
  }
}
