.post{
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    align-items: flex-start;
    border-bottom: 5px solid var(--twitter-background);
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;

}

.post_body{
    margin: 10px;
}
.post_body img {
    border-radius: 20px;
    /* max-width: 100%; */
}

.post_footer{
    display: flex;
    justify-content: space-around;
    margin:10px 0 20px 0px;
}

.post_badge{
    font-size: 18px !important; 
    color:var(--twitter-color);
    /* margin-top: 2px; */
}

.post_username{
    font-size: 14px;
    font-weight: 600;
    color: gray
}

.post__headerDescription{
    font-size: 15px;
    margin:5px 10px  10px 40px;
}

.post_avatar{
    padding:10px;
}
img{
    max-width: 100%;
    height: "350px";
} 
.post__headerDescription img{
    max-width: 100%;
    height: "350px";
    margin-left:'40px';
}

.particular-post{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 5px; */
    /* border-bottom: 1px solid rgb(63, 81, 181)   ; */
    width:100%;
    height: auto;
}

.particular-shared-post{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
    border: 2px solid var(--twitter-background);
    border-radius: 5px;
}

.post-header{
    display: flex;
}

.like{
    color:rgb(63,81,181);
}
.comment-section{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.comment{
    display: flex;
    margin-top: 20px;
    
    
}
.comment-header{
    display: flex;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;

}
.comment-body{
    width: auto;
    height: auto;
    padding: 5px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 400;
    margin-top: -5px;
    background-color: rgb(235, 230, 230);
    border-radius: 10px;
}
.comment-input{
    margin-top: 30px;
    display: flex;
    margin-left: 30px;
}
.privacy, .likes{
    display: flex;
}


/* Drop down */
a {
    text-decoration: none;
  }
  
  nav {
    font-family: monospace;
    
  }
  
  ul {
   
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    color: #000000;
    display: block;
    float: left;
    padding: .8rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-weight: bold;
   
  }
    
  li a {
    color: #000000;

  }
  
  li:hover {
    cursor: pointer;
  }
  
  ul li ul {
    background: rgb(247, 244, 244);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: .1rem;
    left: 0;
    display: none;
    
  }
  
  ul li > ul,
  ul li ul {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 65%;
  }
.option:hover{
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 2px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 2px 1px 1px #ccc;
    border-radius: 5px;
}
.nav{
    margin-right: 20px;    
}
